.goals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.goal {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 20px 0 10px;
    position: relative;
    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
        border: none;
        background: none;
    }
}

